In [111]:
import pandas as pd
import pickle
import tweepy
import time
# указать токены
consumer_api_key = 'r2rZD6dXS8oONMgitrSuokdPB'
consumer_api_secret_key = '3SjcKdWqsaRjP4B9mkpNJ4f1OtzQIHx7RHilG8d5DKAP7hY43i'
access_token = '3067139996-XwiQmLaSWctyZCEliXF78p22ruVqakBwkl507IR'
access_token_secret = 'NRWkUf3ZnBoxLDPXxGNFfnZJSC4h9P0DRtEVQfXf5UV6O'

auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [112]:
# создать DF
# который включает: screen_name - логин, date_time, location, text - текст в сообщении.
df = pd.DataFrame(columns = ['screen_name','date_time','location','text'])

# обрати внимание, что можно найти обращения к компаниям или их поддержке в сообщении
# через @ATTHelp или @Megafon и тд


df.head()

Empty DataFrame
Columns: [screen_name, date_time, location, text]
Index: []

In [113]:
def getTweets(searchString, df,until):
    for tweet in tweepy.Cursor(api.search, q=searchString, lang='en', until='2021-04-'+str(until) ).items(100):
        df = df.append(pd.Series([tweet.user.screen_name, tweet.created_at, tweet.user.location, tweet.text], index=df.columns), ignore_index=True)
    return df

In [114]:
dates = [i for i in range(12,19)]
dates

[12, 13, 14, 15, 16, 17, 18]

In [115]:
# DF
df_tmp = pd.DataFrame(columns=['screen_name', 'date_time', 'location', 'text'])

In [116]:
for i in dates:
    VerizonSupport = getTweets('VerizonSupport', df_tmp,i)
    df = df.append(VerizonSupport)
df.head()

,screen_name,date_time,location,text
0,ShieldVoC,2021-04-14 23:57:51,"Stockholm, Sweden",RT @europabridge1: @VerizonSupport will someon...
1,ShieldVoC,2021-04-14 23:56:27,"Stockholm, Sweden",RT @halidkalkan: @Verizon trying to charge me ...
2,VerizonSupport,2021-04-14 23:43:51,,@MushShoe Thanks for confirming. We can assist...
3,MushShoe,2021-04-14 23:39:05,,"@VerizonSupport Want pricing, my plan ends 3 d..."
4,VerizonSupport,2021-04-14 23:34:05,,@MushShoe Sorry for your trouble. We are also ...

In [117]:
df.tail()

,screen_name,date_time,location,text
95,VerizonSupport,2021-04-17 17:52:22,,"@Ari_Sherwood Thanks so much, Ari for the kudo..."
96,Ari_Sherwood,2021-04-17 17:48:28,"Near Philly, PA, USA",Kudos to @VerizonSupport for quickly respondin...
97,VerizonSupport,2021-04-17 17:47:51,,@real1 Help is here! We want to make sure you ...
98,VerizonSupport,2021-04-17 17:47:20,,@jc83837 Providing excellent Customer Service ...
99,D76developer,2021-04-17 17:43:34,,@VerizonSupport Done. Thanks in advance.

In [118]:
time.sleep(5)
df.shape

(400, 4)

In [119]:
for i in dates:
    verizon = getTweets('verizon', df_tmp,i)
    df = df.append(verizon)

In [120]:
time.sleep(10)
df.shape

(800, 4)

In [121]:

for i in dates:
    VZWSupport = getTweets('VZWSupport', df_tmp,i)
    df = df.append(VZWSupport)

In [122]:
time.sleep(10)
df.shape

(1200, 4)

In [123]:
for i in dates:
    ATT = getTweets('ATT', df_tmp,i)
    df = df.append(ATT)

In [124]:
time.sleep(10)
for i in dates:
    ATTHelp = getTweets('ATTHelp', df_tmp,i)
    df = df.append(ATTHelp)

In [125]:
time.sleep(10)
df.shape

(2000, 4)

In [126]:
for i in dates:
    TMobile = getTweets('TMobile', df_tmp,i)
    df = df.append(TMobile)

Rate limit reached. Sleeping for: 682

In [127]:
time.sleep(10)
df.shape

(2400, 4)

In [128]:
for i in dates:    
    TMobileHelp = getTweets('TMobileHelp', df_tmp,i)
    df = df.append(TMobileHelp)

In [129]:

df.shape

(2800, 4)

In [131]:
with open('try', 'wb') as pkl_file:
    pickle.dump(df, pkl_file)

In [43]:
# with open('500', 'wb') as pkl_file:
#     pickle.dump(df, pkl_file)