### Authentication of Twitter API

In [2]:
import pandas as pd
import pickle
import tweepy
# указать токены
consumer_api_key = 'r2rZD6dXS8oONMgitrSuokdPB'
consumer_api_secret_key = '3SjcKdWqsaRjP4B9mkpNJ4f1OtzQIHx7RHilG8d5DKAP7hY43i'
access_token = '3067139996-XwiQmLaSWctyZCEliXF78p22ruVqakBwkl507IR'
access_token_secret = 'NRWkUf3ZnBoxLDPXxGNFfnZJSC4h9P0DRtEVQfXf5UV6O'

auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [37]:
# создать DF
# который включает: screen_name - логин, date_time, location, text - текст в сообщении.
df = pd.DataFrame(columns = ['screen_name','date_time','location','text'])

# обрати внимание, что можно найти обращения к компаниям или их поддержке в сообщении
# через @ATTHelp или @Megafon и тд


df.head()

Empty DataFrame
Columns: [screen_name, date_time, location, text]
Index: []

### Task: Получить данные из Твиттера

In [9]:

def getTweets(searchString, df):
    for tweet in tweepy.Cursor(api.search, q=searchString, lang='en', since='2021-03-15', until='2021-03-31').items(100):
        df = df.append(pd.Series([tweet.user.screen_name, tweet.created_at, tweet.user.location, tweet.text], index=df.columns), ignore_index=True)
    return df

In [4]:

# DF
df_tmp = pd.DataFrame(columns=['screen_name', 'date_time', 'location', 'text'])

In [6]:
# пример получения информации и поисковой фразы

# VerizonSupport = getTweets('VerizonSupport', df_tmp)
# verizon = getTweets('verizon', df_tmp)
# VZWSupport = getTweets('VZWSupport', df_tmp)
# ATT = getTweets('ATT', df_tmp)
# ATTHelp = getTweets('ATTHelp', df_tmp)
# TMobile = getTweets('TMobile', df_tmp)
# TMobileHelp = getTweets('TMobileHelp', df_tmp)

In [38]:
VerizonSupport = getTweets('VerizonSupport', df_tmp)
df = df.append(VerizonSupport)

In [39]:
verizon = getTweets('verizon', df_tmp)
df = df.append(verizon)

In [40]:
VZWSupport = getTweets('VZWSupport', df_tmp)
df = df.append(VZWSupport)

In [41]:
ATT = getTweets('ATT', df_tmp)
df = df.append(ATT)

In [42]:
ATTHelp = getTweets('ATTHelp', df_tmp)
df = df.append(ATTHelp)

In [43]:
TMobile = getTweets('TMobile', df_tmp)
df = df.append(TMobile)

In [44]:
TMobileHelp = getTweets('TMobileHelp', df_tmp)
df = df.append(TMobileHelp)

In [58]:

df

,screen_name,date_time,location,text
0,TheSkubis,2021-03-30 23:59:19,"Pennsylvania, USA",@VerizonSupport I have issues with closed capt...
1,VerizonSupport,2021-03-30 23:56:55,,@_carolinek This could be due to regional rest...
2,VerizonSupport,2021-03-30 23:55:30,,@tvmurray We'll be happy to help with anything...
3,_carolinek,2021-03-30 23:55:24,,@VerizonSupport Hi! I know you think you can h...
4,VerizonSupport,2021-03-30 23:54:26,,@lam3014 We will be happy to look into this fo...
...,...,...,...,...
95,bravosfan1025,2021-03-30 22:40:49,Erie PA,@TMobileHelp I have 4 lines though... And I wa...
96,TMobileHelp,2021-03-30 22:40:01,"Bellevue, WA","@SleepingFaux Hey there, your experience is su..."
97,TMobileHelp,2021-03-30 22:39:22,"Bellevue, WA",@bravosfan1025 Thank you for reaching out to T...
98,TMobileHelp,2021-03-30 22:36:19,"Bellevue, WA",@LisiBabi We are committed to providing you wi...
99,TMobileHelp,2021-03-30 22:35:28,"Bellevue, WA","@tangtang90 Hey Berkley, this is not the exper..."

### Сохранить полученный DF (по возможности)¶

In [48]:

with open('twitts', 'wb') as pkl_file:
    pickle.dump(df, pkl_file)

In [55]:
with open('twitts', 'rb') as pkl_file:
    loads = pickle.load(pkl_file,encoding = 'utf-8')